@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100');

body {
	margin: 0;
	color: rgb(184, 141, 136);
}

header {
	padding: 50px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	background: #ef9a9a; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ef9a9a, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ef9a9a, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ef9a9a, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ef9a9a, white); /* Standard syntax */
    height: 500px;
}

.name {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 50px;
}

a {
	text-decoration: none;
}

svg {
	height: 90px;
	width: 90px;
	margin: 10px;
	fill: white;
}

svg:hover {
	fill: rgb(216, 175, 172);
}

#headshot {
	width: 200px;
}

.about-me {
	margin-top: 50px;
}