@import url('https://fonts.googleapis.com/css?family=Assistant|Comfortaa:300|Montserrat|Poppins:300');

body {
	font-family: 'Assistant';
	text-align: center;
	color: #808080;
}
h1 {
	font-family: 'Comfortaa';
	font-size: 70px;
	color: #6F6E6E;

}
h3 {
	font-family: 'Comfortaa';
	color: #D2D2D2;
	font-size: 20px;
}

header {
	padding-top: 160px;
	text-align: center;
	box-shadow: 0px 2px 5px lightgrey;
	margin-bottom: 30px;
}

#headshot {
	padding-top: 20px;
	width: 400px;
}

#content {
	padding-top: 30px;
	padding-bottom: 200px;
}

#nav {
	font-family: "Comfortaa";
	font-size: 25px;
}

.nav-item {
	color: #D2D2D2;
	padding-left: 15px;
	padding-right: 15px;
}

.nav-item:hover {
	cursor: pointer;
	color: #c92aed;
}

.nav-selected {
	color: #c92aed;
	border-bottom: 2px solid #D2D2D2;
}