@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-family: 'Raleway';
}

.name {
  font-size: 80px;
  color: #C06C84;
  font-family: 'Alegreya Sans SC';
}

.header { 
  padding-top: 20px;
  text-shadow: 0 0 10px #C06C84;
  background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FFE6E9, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFE6E9, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFE6E9, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFE6E9, white); /* Standard syntax */
  background-repeat: no-repeat;
}

svg {
	height: 30px;
	width: 30px;
  fill: #C0CCD6;
  padding: 0px 5px 0px 5px;
}

svg:hover {
  fill: #A1B3C2;
  cursor: pointer;
}

body {
  text-align: center;
  color: #757575;
	background: white; /* For browsers that do not support gradients */
    
}

.aboutme-pics {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.aboutme-pics img {
  height: 300px;
  box-shadow: 0px 0px 8px grey;
}

.comp {
  padding: 20px 100px 10px 100px;
}


@media (max-width: 768px) {
  .aboutme-pics img {
    height: 200px;
  }

  .comp {
    padding: 20px 60px 10px 60px;
  }
}

@media (max-width: 480px) {
  .aboutme-pics img {
    height: 100px;
  }

  .comp {
    padding: 10px 20px 10px 20px;
  }
}